# /etc/cron.d/logcheck: crontab entries for the logcheck package

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO={{ logcheck_mail_users }}

@reboot         logcheck    if [ -x /usr/sbin/logcheck ]; then nice -n10 /usr/sbin/logcheck -R; fi
{% if logcheck_file_output or logcheck_es_push %}
{{ logcheck_cron_expression }}       logcheck    if [ -x /usr/sbin/logcheck ] && [ -x /usr/local/bin/logcheck-file-output ]; then nice -n10 /usr/local/bin/logcheck-file-output 2>&1 | grep -Ev "(RequestsDependencyWarning|InsecureRequestWarning|SubjectAltNameWarning)"; fi
{% else %}
{{ logcheck_cron_expression }}       logcheck    if [ -x /usr/sbin/logcheck ]; then nice -n10 /usr/sbin/logcheck; fi
{% endif %}

# EOF
